@{
    ViewData["Title"] = "You sure?";
}

@model Entertainer

<h1>Confirm Deletion</h1>
<h3>@Model.EntStageName</h3>

<form method="post">

    <input type="hidden" asp-for="EntertainerId" />

    <button type="submit">Delete</button>
    <a class="btn btn-info" asp-controller="Home" asp-action="EntertainerList">Cancel</a>
</form>