@{
    ViewData["Title"] = "Entertainers";
}

@model List<Entertainer>

<table class="table table-bordered">

    <thead class="fw-bold">
        <tr>
            <td>Stage Name</td>
            <td>Details</td>
        </tr>

    </thead>

    @foreach (var x in Model)
    {
        <tbody>
            <tr>
                <td>@x.EntStageName</td>
                <td><a class="btn btn-info" asp-controller="Home" asp-action="EntertainerDetails" asp-route-id="@x.EntertainerId">Details</a></td>
            </tr>
        </tbody>
    }

</table>

<div class="text-center">
    <a class="btn btn-info" asp-controller="Home" asp-action="Add">Add Entertainer</a>
</div>

